<%- include("partials/header") %>

<% addPost.forEach(function(post) { %>
<h1><%=  post.title %></h1>
<p><%if (post.title === "Home") {%>
  <%=post.post%>
<%} else {%>
  <%= post.post.substring(0, 250) + " ..."%><a href="/posts/<%=post.title%>">Read more</a></p>
<%}%>
<% }); %>

<%- include("partials/footer") %>
